<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
</head>
<body>
    <% if (success_msg) { %>
        <div class="alert alert-success">
            <%= success_msg %>
        </div>
    <% } %>
    <% if (error_msg) { %>
        <div class="alert alert-danger">
            <%= error_msg %>
        </div>
    <% } %>
    <% if (error) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    <div class="form-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label>Username:</label>
            <input type="text" name="username" class="input-field" required>
            <label>Password:</label>
            <input type="password" name="password" class="input-field" required>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <a href="/register">Register</a>
    </div>
</body>
</html>