<!DOCTYPE html>
<html>
<head>
    <title>CiniHere</title>
    <link rel="stylesheet" type="text/css" href="/css/start.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <h1>CiniHere</h1>
        <div class="options">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </div>
</body>
</html>